.Zadv{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 286px;
   }

.Zadv-Right{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 336px;
}

.Zadv-Bot{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 386px;
}

.Zadv-Left{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 436px;
}

.IndZadv{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 486px;
}
  
   .Regul{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 136px;
   }
  
   .Flaaag{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 186px;
   }
  
   .Cistern{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 236px;
   }
  
   .Untitled{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 135px;
    top: 86px;
   }
  
   img {
    width: 40px;
  }
